<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Kodland - {{title}}</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">

	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

	<header class="container-fluid z-depth-1 white position-sticky sticky-top">
		<nav class="navbar navbar-expand-md navbar-light z-depth-0">
	  		<a class="navbar-brand" href="{% url 'index' %}">
	  			<img src="{% static 'images/logo.png' %}" alt="">
	  		</a>
	  		
	  		<div class="collapse navbar-collapse" id="basicExampleNav">
	    		<ul class="navbar-nav mr-auto align-bottom">
		      		<li class="nav-item">
		      			<a class="nav-link font-weight-bold" href="{% url 'index' %}">Блог</a>
		      		</li>
		      		{% if post_adding == '' %}
		      		<li class="nav-item mx-0">
		      			<a class="nav-link mx-0 px-0 disabled">/</a>
		      		</li>
		      		<li class="nav-item">
		      			<a href="{% url 'post_add' %}" class="nav-link font-weight-bold">Добавить статью</a>
		      		</li>
		      		{% endif %}
		    	</ul>

		    	<ul class="navbar-nav ml-auto align-items-center">
		    		<li class="nav-item">
		    			<a href="{% url 'post_add' %}" class="nav-link">
		    				<img src="{% static 'images/email.png' %}" alt="">
		    			</a>
		    		</li>
		    		<li class="nav-item">
		    			<a href="" class="nav-link">
		    				<img src="{% static 'images/Uchenik.png' %}" alt="">
		    			</a>
		    		</li>
		    		<li class="nav-item">
		    			<a href="" class="nav-link">
		    				<img src="{% static 'images/logout.png' %}" alt="">
		    			</a>
		    		</li>
		    	</ul>
			</div>
		</nav>
	</header>

	{% block content %}{% endblock %}

	<footer></footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>